:root {
  --primary-green: #4CAF50;
  --dark-green: #388E3C;
  --light-green: #81C784;
  --white: #FFFFFF;
  --dark-gray: #424242;
  --gray: #757575;
  --white: #FFFFFF;
  --blue: #2196F3;
  --orange: #FF9800;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
} 